<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<bean name="helloWorldAction" class="com.lkk.lostfound.HelloWorldAction"></bean>

	<!-- DataSource -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/lostfound"></property>
		<property name="user" value="root"></property>
		<property name="password" value="320114"></property>
	</bean>

	<!-- SessionFactory -->
	<bean name="mySessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="myDataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.lkk.lostfound.model.LostItem</value>
				<value>com.lkk.lostfound.model.Message</value>
				<value>com.lkk.lostfound.model.User</value>
				<value>com.lkk.lostfound.model.PickedItem</value>
				<value>com.lkk.lostfound.model.Announcement</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.archive.autodetection">class</prop>
			</props>
		</property>
	</bean>

	<!-- Daos -->
	<bean name="announcementDao" class="com.lkk.lostfound.daoImpl.AnnouncementDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean name="pickedItemDao" class="com.lkk.lostfound.daoImpl.PickedItemDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean name="lostItemDao" class="com.lkk.lostfound.daoImpl.LostItemDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean name="itemDao" class="com.lkk.lostfound.daoImpl.ItemDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean name="messageDao" class="com.lkk.lostfound.daoImpl.MessageDaoImp">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean name="userDao" class="com.lkk.lostfound.daoImpl.UserDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>

	<!-- Actions -->
	<bean name="anno-create" class="com.lkk.lostfound.action.announcement.CreateAction"></bean>
	<bean name="anno-index" class="com.lkk.lostfound.action.announcement.IndexAction"></bean>
	<bean name="anno-getImage" class="com.lkk.lostfound.action.announcement.GetImageAction"></bean>
	<bean name="saveMessageAction" class="com.lkk.lostfound.action.message.SaveMessageAction"></bean>
	<bean name="itemDetails" class="com.lkk.lostfound.action.item.ItemDetails"></bean>
	<bean name="getImageAction" class="com.lkk.lostfound.action.item.GetImageAction"></bean>
	<bean name="getIndexAnnosAction"
		class="com.lkk.lostfound.action.announcement.GetIndexAnnosAction">
	</bean>
	<bean name="indexAction" class="com.lkk.lostfound.action.IndexAction"></bean>
	<bean name="listitems" class="com.lkk.lostfound.action.item.ItemsListAction"></bean>
	<bean name="logonAction" class="com.lkk.lostfound.action.user.LogonAction"></bean>
	<bean name="registerAction" class="com.lkk.lostfound.action.user.RegisterAction"></bean>
	<bean name="userItems" class="com.lkk.lostfound.action.item.UserItemsAction"></bean>
	<bean name="switchStatusAction" class="com.lkk.lostfound.action.item.SwitchStatusAction"></bean>
	<bean name="addLostItemAction" class="com.lkk.lostfound.action.item.AddLostItemAction">
		<property name="itemDao" ref="lostItemDao"></property>
	</bean>
	<bean name="addPickedItem" class="com.lkk.lostfound.action.item.AddPickedItemAction">
		<property name="itemDao" ref="lostItemDao"></property>
	</bean>
</beans>